	<ion-view view-title="Pontos">
	  <ion-content>
	    <ion-card>
	  		<ion-card-content>
				    <h1 class="card-title center_title">
				      Estacionamentos
				    </h1> 

				    <div ng-repeat="estacionamento in estacionamentos">
				    	<div class="list card">
				    		<div class="item item-divider">
				    			<h2>{{estacionamento.nome}}</h2>
							    <p style="width: 60%; float: left;">{{estacionamento.endereco}}</p>
							    <a ng-click="navegarEstacionamento(estacionamento.endereco)">
									<i class="ion-map" style="padding-left: 35%;"></i>
								</a>
							</div>
							<div class="item item-icon-left">
								<p>
									<div>
										<p><b>{{estacionamento.preco.hora}}</b></p>
										<p><b>{{estacionamento.preco.fracao}}</b></p>
									</div>
								</p>
							</div>
				    	</div>
				    </div>

			    
			    
	  		</ion-card-content>
		</ion-card>
	  </ion-content>
	</ion-view>
